@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700;900&family=Lilita+One&display=swap');
:root {
    --primary: #ffa000;
    --gold: #ffd500;
    --secondary: #8D7C27;
    --gray: #707070;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    transition: .3s;
    scroll-behavior: smooth;
    outline: none;
}

::selection {
    background-color: var(--primary);
    color: white;
}

a {
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer !important;
}

.text-primary {
    color: var(--primary) !important;
}

.text-gold {
    color: var(--gold) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.text-gray {
    color: var(--gray) !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-gray {
    background-color: var(--gray) !important;
}

.bg-gradient {
    background-image: linear-gradient(transparent 5%, #4e4e4e) !important;
}

.selected {
    color: var(--primary) !important
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Nav */
nav {
    background-color: white;
    box-shadow: 0px 3px 10px #dbdbdb;
    z-index: calc(900*10000000000) !important;
}

nav a:hover {
    color: var(--primary) !important;
}

.logo h1 {
    letter-spacing: 3px;
    font-family: 'Lilita One', 'Cairo', sans-serif;
    font-size: 38px !important;
}

.logo p {
    font-family: 'Lilita One', 'Cairo', sans-serif;
    font-weight: normal !important;
    font-size: 12px !important;
    margin-top: -6px !important;
    letter-spacing: 17px;
    margin-right: -18px !important;
}

.account p:hover {
    color: var(--secondary) !important;
}

@media screen and (max-width: 767px) {
    .links-toggle {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        width: 100%;
        box-shadow: 0px 5px 5px #dbdbdb;
        display: flex !important;
        flex-direction: column;
        overflow: hidden;
        height: 0px;
    }

    .links-toggle-show {
        height: 184px;
    }

    .links-toggle a {
        padding: 10px 0px;
        text-align: center;
    }

    .links-toggle a:hover,
    .selected {
        background-color: #ffd50034;
        color: var(--primary);
    }
}

/* Nav */

/* slider */
#slider {
    scroll-behavior: auto;
}

#slider .product>a,
#slider .product>a>div {
    height: 350px !important;
}

img {
    pointer-events: none;
}

/* slider */
/* New Products */
#arrow-slider .product>a,
#arrow-slider .product>a>div {
    height: 250px !important;
}

.left-arrow,
.right-arrow {
    transform: translateY(-50%);
}

.left-arrow {
    left: 0px;
    border-width: 20px;
    border-color: transparent var(--primary) transparent transparent;
    border-style: solid;
}

.right-arrow {
    right: 0;
    border-width: 20px;
    border-color: transparent transparent transparent var(--primary);
    border-style: solid;
}


.depts p {
    transition: .3s;
}

.depts p:hover,
.depts .selected {
    /* transition: .3s; */
    background: var(--primary);
    color: white !important;
}

/* New Products */
/* Offers */
.offer-amount {
    left: 0;
    top: 15%;
    clip-path: polygon(0px -3px, 100% -3px, 80% 50%, 100% 105%, 0 105%);
    box-shadow: 2px 0px 10px rgb(133, 133, 133);
}

/* Offers */
/* Reviews */
.review>div {
    box-shadow: 0px 0px 10px #dbdbdb;
}

.customer-photo {
    width: 70px;
    height: 70px;
}

/* Reviews */
/* Notes */
form input:not(input[type='button']),
form textarea {
    border: 1px solid var(--primary) !important;
}


form input:focus,
form textarea:focus {
    box-shadow: 0px 0px 5px 4px #ffd50031 !important;
}

form input::placeholder,
form textarea::placeholder {
    color: #8D7C2760 !important;
}

/* Notes */

/* Login Panel */
.loginPanel {
    background: #f8f9fac7;
    z-index: 999999999999999999999 !important;
}

.closePanel {
    left: 10px;
    top: 10px;
}

.text-create-account {
    text-underline-offset: 6px;
    transition: 0s !important;
}

.text-create-account:hover {
    color: var(--secondary) !important;
    transition: .3s !important;
}

.myCard {
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px var(--primary);
}

.myCard-title::before,
.myCard-title::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    background: var(--primary);
    top: 120%;
    left: 0px;
}

.myCard-title::after {
    top: -20%;
    right: 0px;
}

@media screen and (max-width: 576px) {
    .myCard {
        width: 90% !important;
    }

    .myCard form {
        width: 100% !important;
    }
}

/* Login Panel */
/* Social Link */
.social a:hover {
    transition: .3s;
    color: var(--primary) !important;
}

.about-text {
    width: 240px;
    line-height: 1.8;
}

@media screen and (max-width: 767px) {
    .important-links a {
        margin: 1.5rem !important;
    }
}

@media screen and (max-width: 513px) {
    .about .d-flex {
        justify-content: center !important;
    }

    .important-links a {
        text-align: center;
    }
}

/* Social Link */